* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */

    /* Primary */

    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    /* Neutral */

    --White-clr: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black-clr: hsl(0, 0%, 7%);

    /* font-weight */

    --fs-500: 500;
    --fs-600: 600;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
}

.container {
    width: 80%;
    margin: 4rem auto;
}

.grid {
    display: grid;
    gap: 2rem;
}

.card {
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 10px 10px 50px 0px var(--Grey-200);
}

.card-01 {
    background: var(--Purple-500);
    color: var(--White-clr);
}

.card-01 .card-head img {
    border: 2px solid var(--Purple-300);
}

.card-04 .card-head img {
    border: 2px solid var(--Purple-300);
}

.card-02 {
    background-color: var(--Grey-500);
    color: var(--White-clr);
}

.card-03 {
    background-color: var(--White-clr);
    color: var(--Black-clr);
}

.card-03 .card-body h2 {
    color: var(--Dark-blue);
}

.card-03 .card-body p {
    color: var(--Grey-400);
}

.card-03 .card-head p:last-child {
    color: var(--Grey-200);
}

.card-04 {
    background: var(--Dark-blue);
    color: var(--White-clr);
}

.card-05 {
    background: var(--White-clr);
    color: var(--Dark-blue);
}

.card-03 .card-head p:last-child, .card-05 .card-head p:last-child {
    color: var(--Grey-500);
}

.card-05 .card-body p {
    color: var(--Grey-400);
}

.flex {
    display: flex;
    gap: 0.75rem;
}

.card-head h2 {
    font-weight: var(--fs-500);
}

.card-head img {
    width: 35px;
    border-radius: 50%;
}

.card-body {
    margin: 1rem 0;
}

.card-body p {
    margin: 1rem 0;
    color: var(--Grey-100);
}

.card-head p:last-child {
    color: var(--Grey-200);
}

@media screen and (min-width: 1200px) {
    
    .container {
        height: 100vh;
        align-content: center;
        margin: 0 auto;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 300px);
    }

    .card-01 {
        grid-column: 1 / span 2;
    }

    .card-03 {
        grid-row: 2;
    }

    .card-04 {
        grid-row: 2;
        grid-column: 2 / span 2;
    }
    .card-05 {
        grid-row: 1 / span 2;
    }
}